.container {
    max-width: 900px;
  }
  
  h1, h3 {
    color: rgb(10,59,73);  /* Example colors */
  }
  
  p.lead {
    font-size: 1.25rem;
  }
  
  ul.list-unstyled li {
    margin-bottom: 10px;
  }
  
  p, ul, li {
    line-height: 1.6;
  }
  