.card {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 30px; /* Add some space between cards */
}

.card.animate {
  transform: translateY(0);
  opacity: 1;
}

.card img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 20px; /* Adjust space for smaller screens */
  }
}
